<!DOCTYPE html>
<!--
  This page initiates a login. You wouldn't typically point the user to a login URL, but
  rather, you would send them to an application page, which would make an API request,
  which will return HTTP status 401 if you need the user to login. It becomes the application's
  job to redirect the user to 401 if they can't log in. This is all handled in `api.js`.
-->
<html lang="en">
<head>
  <title>Login</title>
  <script>
    async function doAuthRequest() {
        // TODO: these values need to be parameterised in the application.
        const clientID = "{{ .ClientID }}"
        const authorizeURL = "{{ .Issuer }}/oauth/v2/authorize"
        const redirectURI = "{{ .Base }}/authorize.html"

        // We need to generate a Zitadel URL which asks it to log the user in.
        // The actual login process is described in the POC README.
        const redirectURL = new URL(authorizeURL)
        const params = redirectURL.searchParams

        // Add the "state" field to the redirect params.
        let windowParams = new URLSearchParams(document.location.search);
        const state = windowParams.get("state")
        if (state != null)
            params.append("state", state)

        // Generate a random challenge string. This is reused when getting the access token.
        // It's part of the PKCE flow.
        //
        // Generate a random byte array, and then convert it into a challenge string.
        // Note that it's the random string that we need here, not the byte array.
        const randomBytes = new Uint8Array(32)
        crypto.getRandomValues(randomBytes)
        let challengeString = btoa(String.fromCharCode.apply(null, randomBytes));

        // Convert the challenge string into a byte array
        // Note that this is different to the original byte array that we used to generate
        // the string! It's all a bit annoying. :)
        const textEncoder = new TextEncoder('UTF-8');
        const challengeBytes = textEncoder.encode(challengeString);

        // Hash the challenge string, and convert to base64
        const challengeDigest = await crypto.subtle.digest("SHA-256", challengeBytes)
        let digest64 = btoa(String.fromCharCode.apply(null, new Uint8Array(challengeDigest))).replace(/\//g, '_').replace(/[+]/g, '-');

        // Store the challenge in session storage for the authorizing page.
        // decode b64 to uint8 with https://stackoverflow.com/a/36046727/6716597
        sessionStorage.setItem("pkceCodeVerifier", challengeString)

        // It appears that padding is stripped off from the encoding.
        digest64 = digest64.replace(/=/g, '')

        // Now, generate a URL that we redirect to. Zitadel then takes over to log
        // the user in. That process might be quite complex, for example it might involve
        // third parties like GitHub or Google.
        params.append("client_id", clientID)
        params.append("redirect_uri", redirectURI) // must be configured in the project
        params.append("response_type", "code")
        params.append("scope", "openid email profile") // add "offline_access" to get a refresh token.
        params.append("code_challenge", digest64)
        params.append("code_challenge_method", "S256") // zitadel requires this to be S256 (= sha256)

        window.location = redirectURL
    }
  </script>
</head>
<body onload="doAuthRequest()">
</body>
</html>